Repository Quantum-Accelerators/quacc, pull requests merged in 2024-01, with the labels that each got.

#1468 More Espresso cleanup
  src/quacc/calculators/espresso/__init__.py
  src/quacc/calculators/espresso/espresso.py
  src/quacc/calculators/espresso/presets/molecule_efficiency.yaml
  src/quacc/calculators/espresso/presets/tough_metal_clusters_efficiency.yaml
Labels: Espresso

#1404 Espresso: Dynamic phonon workflow
  docs/about/contributors.md
  docs/install/codes.md
  docs/user/recipes/recipes_list.md
  src/quacc/calculators/espresso/espresso.py
  src/quacc/recipes/espresso/core.py
  src/quacc/recipes/espresso/phonons.py
  src/quacc/runners/prep.py
  src/quacc/utils/files.py
  tests/core/.quacc.yaml
  tests/core/recipes/espresso_recipes/test_core.py
  tests/core/recipes/espresso_recipes/test_phonons.py
  tests/core/utils/test_files.py
Labels: New Recipe, Espresso

#1348 Support for ONETEP code
  docs/about/contributors.md
  docs/install/codes.md
  docs/user/recipes/recipes_list.md
  src/quacc/recipes/onetep/__init__.py
  src/quacc/recipes/onetep/_base.py
  src/quacc/recipes/onetep/core.py
  src/quacc/settings.py
  tests/core/recipes/onetep_recipes/conftest.py
  tests/core/recipes/onetep_recipes/data/H.usp.gz
  tests/core/recipes/onetep_recipes/test_onetep.py
Labels: New Recipe
