Repository Quantum-Accelerators/quacc, pull requests merged in 2024-03, with the labels that each got.

#1701 Espresso Bands job and flow
  docs/user/recipes/recipes_list.md
  src/quacc/calculators/espresso/espresso.py
  src/quacc/recipes/espresso/_base.py
  src/quacc/recipes/espresso/bands.py
  src/quacc/recipes/espresso/dos.py
  src/quacc/recipes/espresso/phonons.py
  src/quacc/settings.py
  tests/core/recipes/espresso_recipes/test_bands.py
  tests/core/recipes/espresso_recipes/test_dos.py
Labels: New Recipe, Espresso

#1814 Bump pymatgen and shakenbreak
  tests/requirements-defects.txt
  tests/requirements.txt
Labels: dependencies

#1789 Espresso: q2r and matdyn jobs
  src/quacc/calculators/espresso/espresso.py
  src/quacc/recipes/espresso/phonons.py
  tests/core/recipes/espresso_recipes/data/matdyn_test/q2r.fc
  tests/core/recipes/espresso_recipes/data/q2r_test/matdyn
  tests/core/recipes/espresso_recipes/test_phonons.py
Labels: New Recipe, Espresso

#1820 Apply MP corrections in MP recipes
  src/quacc/recipes/vasp/_base.py
  src/quacc/recipes/vasp/mp.py
  src/quacc/schemas/vasp.py
  tests/core/atoms/test_atoms_core.py
  tests/core/recipes/espresso_recipes/conftest.py
  tests/core/recipes/espresso_recipes/test_phonons.py
  tests/core/recipes/gulp_recipes/conftest.py
  tests/core/recipes/vasp_recipes/mocked/conftest.py
  tests/core/recipes/vasp_recipes/mocked/test_vasp_recipes.py
  tests/core/schemas/test_ase.py
  tests/core/schemas/test_cclib_schema.py
  tests/core/schemas/test_files/cclib_data/gau_testopt.log.gz
  tests/core/schemas/test_files/cclib_data/psi_test.cube.gz
  tests/core/schemas/test_files/cclib_data/psi_test.out.gz
  tests/core/schemas/test_files/gaussian_run1/Gaussian.log
  tests/core/schemas/test_files/vasp_mp_run1/CONTCAR.gz
  tests/core/schemas/test_files/vasp_mp_run1/INCAR.gz
  tests/core/schemas/test_files/vasp_mp_run1/OUTCAR.gz
  tests/core/schemas/test_files/vasp_mp_run1/POSCAR.gz
  tests/core/schemas/test_files/vasp_mp_run1/vasprun.xml.gz
  tests/core/schemas/test_files/vasp_run1/CONTCAR.gz
  tests/core/schemas/test_files/vasp_run1/INCAR.gz
  tests/core/schemas/test_files/vasp_run1/KPOINTS.gz
  tests/core/schemas/test_files/vasp_run1/OUTCAR.gz
  tests/core/schemas/test_files/vasp_run1/POSCAR.gz
  tests/core/schemas/test_files/vasp_run1/custodian.json.gz
  tests/core/schemas/test_files/vasp_run1/garbled_pot
  tests/core/schemas/test_files/vasp_run1/vasprun.xml.gz
  tests/core/schemas/test_vasp_schema.py
  tests/core/schemas/vasp_run_bad/CONTCAR.gz
  tests/core/schemas/vasp_run_bad/INCAR.gz
  tests/core/schemas/vasp_run_bad/OUTCAR.gz
  tests/core/schemas/vasp_run_bad/POSCAR.gz
  tests/core/schemas/vasp_run_bad/vasprun.xml.gz
  tests/core/settings/test_settings.py
Labels: VASP

#1729 Write out results schema to filesystem in summarize functions
  src/quacc/schemas/ase.py
  src/quacc/schemas/cclib.py
  src/quacc/schemas/phonons.py
  src/quacc/schemas/vasp.py
  src/quacc/settings.py
  tests/core/recipes/emt_recipes/test_emt_recipes.py
  tests/core/recipes/lj_recipes/test_lj_recipes.py
Labels: enhancement

#1783 Add an MP compatibility checker to MP recipes
  .github/workflows/tests.yaml
  docs/user/recipes/recipes_list.md
  pyproject.toml
  src/quacc/recipes/vasp/mp.py
  tests/core/recipes/vasp_recipes/mocked/conftest.py
  tests/requirements-mp.txt
Labels: VASP
